<html>
    <head>
        <meta charset="UTF-8"/>
        <title>chushi vue</title>
        <script type="text/javascript"  src="../js/vue.js"></script>
    </head>
 
    <body>

    <!--准备好一个容器-->
    <div id="root">
        
        <br/>
        <h2>computed计算属性的使用方式</h2>
        <br/>
        姓: <input type="text" v-model="firstname"><br/><br/>
        名: <input type="text" v-model="lastname"><br/><br/>
        全名: <span>{{fullname}} </span><br/><br/>





    </div>
  

    </body>
<!--使用vue 需要初始一个vue对象-->
    <script type="text/javascript">
        Vue.config.productionTip = false
       const vm= new Vue({
        data:{
           
             name:"zxg1",
             url:'www.baidu.com',
             school:{
                 url:'www.163.com',
                 name:'zxg'
                },
            firstname:'张',
            lastname:'三'
            
        },
/*
computed和watch得区别
computed 不能执行异步任务
watch可以执行异步任务 例如 setTimeout 函数

*/





    
        //简写方法 当不需要修改值得时候 即只使用get方法得时候 可以用此简写
            computed:{
                fullname(){
                    return this.firstname+'-'+this.lastname
                }
            },
            // 监视某个属性得值发生改变
            watch:{
                firstname:{
                    handler(){
                        console.log("@@","firstname  changed")
                    }
                },

                //监视school对象中任意属性发生变化
                // school:{
                //     deep:true,
                //     handler(){
                //         console.log("@@","school  changed")
                //     }
                // }，

                //监视school对象中某一属性发生变化 得方法
                'school.url':{
                    handler(){
                        console.log("@@","school  changed")
                    }
                }
            }



        })
        console.log("tag",vm) //打印对象日志信息
        vm.$mount('#root') //第2中写法


        // 另外一种监视数据得方法
        vm.$watch('lastname',{
            handler(){
                console.log("@@","firstname  changed")
            }
        })
       

        // 利用set get方法来进行变量更新的方法
        let age = 18
        let person = {
            name:'zhang san',
            sex:'male',
        }
        Object.defineProperty(person,'age',{
            // value:18
           // enumerable:true, //控制属性是否可以枚举，默认值是false
           // writable:true,//控制属性是否可以被修改，默认值是false
          //  configurable:true, //控制属性是否可被删除，默认值是false
            //当有人读取person的age属性时，get函数(getter)就会被调用，且返回值就是age的值
            get(){
                console.log('@@','有人读取属性了')
                return age
            },
            //当有人修改person的age属性时，set函数(setter)就会被调用，且会受到修改的具体值
            set(value){
                console.log('@@','有人修改属性了，且值是',value)
                age=value
            },
        }

        )


        </script>
</html>
