<html>
    <head>
        <meta charset="UTF-8"/>
        <title>chushi vue</title>
        <script type="text/javascript"  src="../js/vue.js"></script>
    </head>
 
    <body>
      <!--
     vue中el有两种赋值方法：1、el:'#id' 2、先创建vue实例，在用实例对象调用vm.$mount('#id')的方式挂载
    data也有两种写法：
            1、对象式
            2、函数式 以后开发都用函数式
    重要原则：由vue管理的函数 一定不要写箭头函数，一旦写了箭头函数，this对象就不是vue了 可以通过consel
    
    -->



    <!--准备好一个容器-->
    <div id="root">
        <p>nihao vue {{name.toUpperCase()}}</p> <!--{{}} 填充式传值-->
        <a v-bind:href="url" x="url"> url is {{school.url.toUpperCase()}} </a>
        <input type="text" v-bind:value="name"> <!--v-bind 只能单向数据更新-->
        <input type="text" v-model:value="name"> <!--v-model 双向数据更新  但只能用在表单类元素上 value值-->

        <!--简写方式-->
        <input type="text" :value="name"> <!--v-bind 只能单向数据更新-->
        <input type="text" v-model="name"> <!--v-model 双向数据更新  但只能用在表单类元素上 value值-->

         <!--事件的基本使用：
            1、使用v-on:xxx或@xxx 绑定事件，其中xxx是事件名
            2、事件的回调需要配置在methods对象中，最终会在vm上
            3、methods中配置的函数，不要用箭头函数！否则this就不是vm了
            4、methods中配置的函数，都是被vue所管理的函数，this指向的就是vm或组件实例对象
            5、@click='demo'和 @click="demo($event)" 效果一致，但后者可以传参
        -->
        <button @click="showdialog">点击我弹窗1</button>
        <button @click="showdialog($event,66)">点击我弹窗2</button>


        <h2>欢迎来到{{name}} 事件触发控制的学习</h2>
        <!-- 阻止响应url跳转 （常用）-->
        <a href="http://www.baidu.com" @click.prevent="showdialog">用prevent属性 点击我URL不调整</a>
        <!-- 阻止事件冒泡 （常用）-->
        <div class="demo1" @click="showdialog">
            <button @click.stop="showdialog">stop属性 点击我阻止冒泡</button>
        </div>
        <!-- 事件只触发一次（常用）-->
        <button @click.once="showdialog($event,66)">once属性 点击我只弹一次窗</button>
        <button @click="showdialog($event,66)">点击我事件函数可以传参 66</button>



        <!-- Vue中常用的按键别名：
            回车：enter
            删除：delete(捕获"删除"和"退格"键)
            退出：esc
            空格:space
            换行:tab
            上：up
            下：down
            左：left
            右：right
        vue未提供别名的按键，可以使用按键原始的key值去绑定，但注意要转为kebab-case 短横线命名
        系统修饰键(用法特殊)：ctrl\alt\shift\meta
         配合keyup使用：按下修饰键的同时，再按下其他键，随后释放其他键，事件才被触发。
         配合keydown使用：正常触发事件
        也可以使用keycode去指定具体的按键(不推荐)
        Vue.config.keyCodes. 自定义键名=键码。可以去定制按键别名 -->

        <h2>欢迎来到{{name}} 按键事件的学习</h2>

        <input type="text" placeholder="按下回车提示输入" @keyup.enter="showdialog">

        <br/>
        <h2>computed计算属性的使用方式</h2>
        <br/>
        姓: <input type="text" v-model="firstname"><br/><br/>
        名: <input type="text" v-model="lastname"><br/><br/>
        全名: <span>{{fullname}} </span><br/><br/>





    </div>
  

    </body>
<!--使用vue 需要初始一个vue对象-->
    <script type="text/javascript">
        Vue.config.productionTip = false
       const vm= new Vue({
           // el:'#root',  //第一种写法
           // data 的第一种写法
            // data:{
            //     name:'zxg1',
            //     url:'www.baidu.com',
            //     school:{
            //         url:'www.163.com',
            //         name:'zxg'
            //     }
            // }


         // data的第2种写法
        data:{
           
             name:"zxg1",
             url:'www.baidu.com',
             school:{
                 url:'www.163.com',
                 name:'zxg'
                },
            firstname:'张',
            lastname:'三'
            
        },
        // 计算属性 效率更高，当调用一次后 即可使用缓存
        computed:{
            fullname:{
                //当有人读取fullname的时候 get就会调用；所依赖的数据发生变化时候就会调用get
                get(){
                return  this.firstname+"-"+this.lastname
                },
                //当fullname被修改时候 set就会调用
                set(value){
                    const arr = value.split('-')
                    this.firstname=arr[0]
                    this.lastname=arr[1]
                }
            }
            
        },
        methods:{
            showdialog(event,a){
                console.log('@@',event,a)
                alert('同学你好！',a)
            }

        },
        })
        console.log("tag",vm) //打印对象日志信息
        vm.$mount('#root') //第2中写法

       

        // 利用set get方法来进行变量更新的方法
        let age = 18
        let person = {
            name:'zhang san',
            sex:'male',
        }
        Object.defineProperty(person,'age',{
            // value:18
           // enumerable:true, //控制属性是否可以枚举，默认值是false
           // writable:true,//控制属性是否可以被修改，默认值是false
          //  configurable:true, //控制属性是否可被删除，默认值是false
            //当有人读取person的age属性时，get函数(getter)就会被调用，且返回值就是age的值
            get(){
                console.log('@@','有人读取属性了')
                return age
            },
            //当有人修改person的age属性时，set函数(setter)就会被调用，且会受到修改的具体值
            set(value){
                console.log('@@','有人修改属性了，且值是',value)
                age=value
            },
        }

        )


        </script>
</html>
